<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gao.Dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.gao.POJO.User">
    <id column="id" jdbcType="TINYINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="hobbies" jdbcType="VARCHAR" property="hobbies" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, hobbies
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte">
    delete from user
    where id = #{id,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.gao.POJO.User">
    insert into user (id, user_name, hobbies
      )
    values (#{id,jdbcType=TINYINT}, #{userName,jdbcType=VARCHAR}, #{hobbies,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gao.POJO.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="hobbies != null">
        hobbies,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=TINYINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="hobbies != null">
        #{hobbies,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gao.POJO.User">
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="hobbies != null">
        hobbies = #{hobbies,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gao.POJO.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      hobbies = #{hobbies,jdbcType=VARCHAR}
    where id = #{id,jdbcType=TINYINT}
  </update>
</mapper>